
.set-url {
  margin: 5px 5px 5px 5px;
}
.greenChecked {
  color: green;
}
ul.navbar-nav{
  display: inline-block;
}
.navigation-item {
  display: inline-block;
  margin: 5px;
  text-align: left;
}
.container-fluids{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navbar-right{
  position: fixed;
  right:15px;
  top:15px
}
.col{
margin: 15px;
}

.main{
  background-color: #e8e7e7;
  
}